@media (max-width: 768px) {
 body{
    background: url(images/bg-intro-mobile.png) ,  hsl(0, 100%, 74%) ;
    text-align: center;
 }
 main{
    display: block;
    margin: 4rem 2rem;
    align-items: center;  
}
.first-container{
    width: 100%;
    color: white;
    text-align: center;
}
.first-container h1{
    font-size: 25px;
    margin-top: 0rem;
}
.first-container p{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 2rem;
}
.btn-1{
    padding: 25px 30px;
    margin-top: 2rem;
    text-align: center;
}
form{
    height: 100%;
    width: 100%;
    padding: 20px;
}
form p{
    font-size: 14px;
}
}